@page
@using BookRec.Infrastructure.EntityFramework.Models
@model IndexModel
@{
    ViewData["Title"] = "Recommendation";
    ViewData["IsRecommendation"] = true;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Welcome to BookRec, the best book recommendation system.</h5>
    <h5>Please go to <a clas="btn-link btn" asp-area="Book" asp-page="/Index">My Books</a> and the add books you read.</h5>
    <br />
    <h5>Please choose the filtering you want to apply</h5>
    <div class="text-center">
        <form asp-page="Index" method="post" asp-page-handler="FindCBFRecommendation" class="recommender-form">
            <button class="btn btn-primary" type="submit" onclick="toggleLoading()">Content-Based Filtering</button>
        </form>
        <form asp-page="Index" method="post" asp-page-handler="FindCFRecommendation" class="recommender-form">
            <button class="btn btn-primary" type="submit" onclick="toggleLoading()">Collaborative Filtering</button>
        </form>
        <form class="recommender-form">
            <button class="btn btn-primary" type="submit" onclick="toggleLoading()">Hybrid Filtering</button>
        </form>
    </div>
</div>
<div class="text-center" id="loading">
    <br /><br />
    <img src="~/img/loading.gif" width="80" />
</div>

@if (Model.Predications != null && Model.Predications.Any())
{
    <br />
    <h2>We recommend:</h2>
    <hr class="hr-light" />
    <div class="card-columns">
        @foreach (var predication in Model.Predications)
        {
        <div class="card card-block">
            @if (string.IsNullOrEmpty(predication.Book.ImageLink))
            {
                <img class="card-img-top img-fluid" src="~/img/no_image.png" alt="@predication.Book.Title" title="@predication.Book.Title">
            }
            else
            {
                <img class="card-img-top img-fluid" src="@predication.Book.ImageLink" alt="@predication.Book.Title" title="@predication.Book.Title">
            }

            <span class="badge badge-pill badge-primary score-badge">Score @Math.Round(predication.Score, 3)</span>


            <div class="card-body">
                <h5 class="card-title">@predication.Book.Title</h5>
                <p class="card-text">@predication.Book.Subtitle</p>
                <p class="card-text">Category: <b>@predication.Book.Categories</b></p>
                <p class="card-text">Language: @predication.Book.LanguageCode</p>
                <p class="card-text">Author: @predication.Book.Authors</p>
            </div>

            <div class="card-footer">
                <a href="@predication.Book.PreviewLink" target="_blank" class="btn btn-link">Visit</a>
            </div>
        </div>
        }
    </div>

}
else
{
    <div class="text-center">
        <br /><br />
        <p>There are no recommendations</p>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#loading').hide();
        });

        function toggleLoading() {
            $('#loading').show();
        }
    </script>
}